/* Widths */
$desktop-width: 1440px;
$tablet-width: 768px;
$mobile-width: 320px;

/* Colors */
$linkHoverBg: #DD783F;
$tagsColor: #768088;
$featuredPostsBg: #F7F7F7;
$featuredAuthorBorderColor: #EFEFEF;
$postsTitleColor: #2E2E2E;
$titleSeparatorBg: #DEDEDE;
$recentItemTitleColor: #101315;
$recentItemDescription: #7A7A7A;
$recentAuthorNameColor: #999;
$recentItemBg: #ffffff;
$recentAuthorBorderColor: #EFEFEF;
